<%- include('../partials/header', { title }) %>
<section class="reveal">
  <h1>IR Pellets</h1>
  <p class="muted">Immediate Release pellets for rapid drug delivery.</p>
  <%- include('../partials/product-table', { products }) %>
</section>
<%- include('../partials/footer') %>
